@import '../global/global.scss';

.footer {
    width: 100%;
    height: auto;
    background-color: #f7f2f2;
    color: white;
    transition: all 1s ease;
    position: relative;
    overflow: hidden;

    @include mob {
        overflow: hidden;
    }

    .footer-wrapper {
        margin-top: 300px;
        display: flex;

        justify-content: center;
        padding: 0 6rem;

        @include mob {
            flex-direction: column;
            padding: 0 2rem;
            gap: 50px;
        }
    }

    .footer-logo {
        width: 65px;
        height: 65px;
        overflow: hidden;
    }

    .footer-logo img {
        width: 100%;
        height: 100%;
    }

    .footer-wrapper-right {
        display: flex;

        justify-content: space-evenly;
        width: 55%;

        @include ipad {
            width: 65%;
        }

        @include mob {
            flex-direction: column;
            width: auto;
            gap: 50px;
        }
    }

    .footer-product-line {
        display: flex;
        flex-direction: column;
    }

    .footer-product,
    .footer-extras,
    .footer-social {
        color: black;
        font-weight: 600;
        font-size: 20px;
    }

    .footer-link {
        text-decoration: none;

    }

    .footer-document {
        color: black;
        font-weight: 400;
        font-size: 20px;
        margin-top: 30px;
        text-decoration: none;
    }

    .footer-support {
        color: black;
        font-weight: 400;
        font-size: 20px;
        margin-top: 15px;
        text-decoration: none;
    }

    .footer-terms {
        color: black;
        font-weight: 400;
        font-size: 20px;
        margin-top: 30px;
        text-decoration: none;
    }

    .footer-privacy {
        color: black;
        font-weight: 400;
        font-size: 20px;
        margin-top: 15px;
    }

    .footer-twitter {
        color: black;
        font-weight: 400;
        font-size: 20px;
        margin-top: 30px;
        text-decoration: none;
    }

    .footer-copy {
        color: black;
       display: flex;
       align-self: center;
       text-align: center;

        @include mob {
            padding: 2rem;
        }

    }

    .footer-blue-shape {
        position: absolute;
        bottom: -40%;
        right: -50px;
        width: 400px;
        height: 400px;
    }

    .footer-blue-shape img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}